table{
  border: 1px solid #ddd;
  width: 764px;
  padding: 10px;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;  border-collapse: collapse;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.name{
  margin-left: 5px;
  color:rgb(42, 160, 199);
}

i{
  color:rgb(42, 160, 199);
}

td.times{
  text-align: right;
}
